/** Template */
html {
    --selected-color: rgba(128, 128, 128, 0.774);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

nav {
    height: 13%;
    width: 100%;
    display: flex;
    
    background-color: bisque;
}

.header, .logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 8px;
}

.logo {
    margin-left: 20px;
}

nav h1 {
    font-size: 3em;
    margin: 0;
}

nav h2 {
    margin-bottom: 0;
    margin-left: 7px;
}

main {
    height: 100%;
    background-color: rgba(255, 228, 196, 0.171);
    display: flex;
}

footer {
    background-color: bisque;
    height: 5%;
}

.footnotes {
    font-size: 1.25em;
    font-weight: 700;

    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footnotes a {
    text-decoration: none;
}

/** Menu Bar */ 
.menu-bar {
    width: 20%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.322);
    color:rgba(0, 0, 0, 0.63);

    display: flex;
    flex-flow: column;
}

.misc, 
.projects {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 20px;
}

.misc div,
.add-projects,
.project-btns,
.project-node {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    padding: 7px 10px;
    border-radius: 5px;
}

.misc div:hover:not(.selected),
.add-projects:hover,
.project-node:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.432);
}

#add-proj {
    transition: transform 0.3s ease-in-out;
}

.projects > div:hover {
    cursor: pointer;
}

.add-projects:hover {
    transform: scale(1.1);
}

.add-projects:active {
    transform: scale(1);
}

.projects div:hover > #add-proj {
    transform: rotate(360deg);
}

.misc div:active,
.selected {
    background-color: var(--selected-color);
    cursor: pointer;
}

.misc div:active {
    transform: scale(0.9);
}

.misc img {
    width: 25px;
}

.misc h2,
.projects h2 {
    font-size: 1.20em;
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
}

.project-title h2 {
    font-size: 30px;
    font-family: Helvetica, Verdana, sans-serif;
    color:rgba(0, 0, 0, 0.808);
    margin: 0;
    padding: 0 15px;
}

.projects {
    padding-top: 10px;
}

.projects img {
    width: 20px;
    align-self: flex-start;
}

.projects h2 {
    font-size: 1em;
}

/** Add Project Mini-Form */
.project-form {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

.project-form input {
    height: 2.5em;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px;
    margin-left: 1px;
    width: 24ch;
    font-family: sans-serif
}

.project-btns button {
    width: 75px;
    height: 2em;
    font-size: 13px;
    font-weight: 750;
    border-radius: 5px;
}

#cancel-project:hover,
#add-project-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.project-btns button:active {
    transform: scale(1);
}

#cancel-project {
    background-color: rgba(255, 0, 0, 0.685);
    border-color: rgba(255, 0, 0, 0.685);
}

.hidden {
    display: none !important;
}

#add-project-btn {
    background-color: rgb(126, 201, 13);
    border-color: rgb(126, 201, 13);
}

/** My Projects Section */
.my-projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
    margin-top: 5px;
}

.project-node {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

#project-settings,
.project-node button {
    background: none;
    border: none;
}

.project-node button img {
    width: 15px;
}

.project-node button {
    position: absolute;
    right: 0;
}

.project-node button:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.project-node button:active {
    transform: scale(1) !important;
}